@page
@model GrossistenApp.Pages.OutgoingProductsModel
@{
    ViewData["Title"] = "Utleverans";
}

@* ------------- ORDERABLE PRODUCTS ------------------------------------*@
<div class="bigCard">

    <h2>Leveransbara Produkter</h2>
    <p>Välj antal på vilka produkter som ska läggas till på lagret.</p>

    <input type="text" id="searchInput" placeholder="Sök" class="form-control w-25" />

    <div class="orderableProductsTable">

        <form method="post" asp-page-handler="TakeFromStock">
            <table id="productsTable">
                <thead>
                    <tr>
                        <th data-column="ArticleNumber" data-label="Artikelnummer">Artikelnummer</th>
                        <th data-column="Title" data-label="Titel">Titel</th>
                        <th data-column="Description" data-label="Beskrivning">Beskrivning</th>
                        <th data-column="Size" data-label="Storlek">Storlek</th>
                        <th data-column="Price" data-label="Pris">Pris</th>
                        <th data-column="Category" data-label="Kategori">Kategori</th>
                        <th data-column="Quantity" data-label="Antal">Antal i lager</th>
                        <th>Lägg till antal</th>
                    </tr>
                </thead>
                <tbody id="productsBody" class="orderableProductsTable">
                    @for (int i = 0; i < Model.OutgoingProductsFromDbList.Count; i++)
                    {
                        var product = Model.OutgoingProductsFromDbList[i];

                            <tr>
                                <td data-product-id="@product.Id">@product.ArticleNumber</td>
                                <td data-product-id="@product.Id">@product.Title</td>
                                <td data-product-id="@product.Id">@product.Description</td>
                                <td data-product-id="@product.Id">@product.Size</td>
                                <td data-product-id="@product.Id">@product.Price kr</td>
                                <td data-product-id="@product.Id">@product.Category</td>
                                <td >@product.Quantity</td>
                                <td >
                                    <input type="hidden" name="ProductsToAddFromInput[@i].ProductId" class="form-control" value="@product.Id" />
                                    <input type="number" name="ProductsToAddFromInput[@i].QuantityToAdd" value="0" min="0" />
                                </td>
                            </tr>
                    }
                </tbody>
            </table>

            <div id="paginationButtons"></div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50 m-2">Uppdatera lager</button>
            </div>
        </form>

    </div>

</div>

@*------------------- OUTGOING RECEIPTS ------------------------------------ *@
<div class="bigCard">
    <h2>Leveranskvitton</h2>

    @if (Model.OutgoingReceiptsFromDbList != null)
    {

        @foreach (var receipt in Model.OutgoingReceiptsFromDbList)
        {
                           
                <div class="receiptCard">
                    <p>Kvitto / @receipt.WorkerName / @receipt.DateAndTimeCreated</p>
                    <table class="receiptTable">
                        <thead>
                            <tr>
                                <th>Artikel</th>
                                <th>Titel</th>
                                <th>Storlek</th>
                                <th>Pris</th>
                                <th>Antal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var productFromDb in Model.ProductsFromDbListOnReceipt)
                            {
                                if (receipt.Id == productFromDb.ReceiptId)
                                {
                                    <tr>
                                        <td>@productFromDb.ArticleNumber</td>
                                        <td>@productFromDb.Title</td>
                                        <td>@productFromDb.Size</td>
                                        <td>@productFromDb.Price</td>
                                        <td>@productFromDb.Quantity</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        
    }
</div> 
    
<script src="~/js/OutgoingProductsTable.js"></script>