@page
@model GrossistenApp.Pages.SpecificProductDetailsModel
@{
}
<div class="bigCard">
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" onclick="window.history.back()" class="btn btn-dark">Tillbaka</button>
        </div>
        <div>
            <h2>Produkt-Detaljer</h2>
        </div>
            @* Empty to get the right flex-space *@
        <div></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="w-50">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="row mb-2 pe-4">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Artikelnummer</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.ArticleNumber</div>
                        </div>
                        <div class="row mb-2 pe-4">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Titel</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.Title</div>
                        </div>
                        <div class="row mb-2 pe-4">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Kategori</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.Category</div>
                        </div>
                 
                    </div>

                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Storlek</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.Size</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Pris</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.Price?.ToString("F2")</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6 border-bottom border-dark pb-2"><strong>Antal</strong></div>
                            <div class="col-6 border-bottom border-dark pb-2">@Model.SpecificProductDetails.Quantity</div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <strong>Beskrivning</strong>
    <p>@Model.SpecificProductDetails.Description</p>

    <div class="d-flex justify-content-end">
        <button id="openFormBtn" class="btn btn-dark mx-2">Ändra</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Ta bort
        </button>
        
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-body">
                        <p class="mb-4">⚠️ Är du säker på att du vill ta bort produkten?</p>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>

                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" asp-for="@Model.DeleteSpecificProductObject.Id" />
                                <button type="submit" class="btn btn-danger">Ta bort</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="editForm" style="display: none;" class="bigCard mt-4">
    <form method="post" asp-page-handler="Update">
        <input type="hidden" asp-for="@Model.UpdateSpecificProductDetails.Id" />
        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.ArticleNumber" class="form-control" placeholder="ArtikelNummer"
                   maxlength="20" pattern="[A-Za-z0-9]+" title="(tip)Endast bokstäver och siffror" />
            <label asp-for="UpdateSpecificProductDetails.ArticleNumber" class="control-label">Artikel</label>
            <span asp-validation-for="UpdateSpecificProductDetails.ArticleNumber" class="text-danger"></span>
        </div>

        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Title" class="form-control" placeholder="Titel" maxlength="20" />
            <label asp-for="UpdateSpecificProductDetails.Title" class="control-label">Titel</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Title" class="text-danger"></span>

        </div>

        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Description" class="form-control" placeholder="Beskrivning" maxlength="30" />
            <label asp-for="UpdateSpecificProductDetails.Description" class="control-label">Beskrivning</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Description" class="text-danger"></span>

        </div>

        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Size" class="form-control" placeholder="Storlek" maxlength="20" />
            <label asp-for="UpdateSpecificProductDetails.Size" class="control-label">Storlek</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Size" class="text-danger"></span>

        </div>

        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Price" class="form-control" placeholder="Pris" />
            <label asp-for="UpdateSpecificProductDetails.Price" class="control-label">Pris</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Price" class="text-danger"></span>

        </div>

        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Category" class="form-control" placeholder="Kategori" 
                    maxlength="20" pattern="[A-Za-zåäöÅÄÖ\s]+" title="Endast bokstäver" />
            <label asp-for="UpdateSpecificProductDetails.Category" class="control-label">Kategori</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Category" class="text-danger"></span>

        </div> 
        
        <div class="form-floating mb-2">
            <input asp-for="UpdateSpecificProductDetails.Quantity" class="form-control" placeholder="Antal" 
                    type="number" step="0.01" min="0" max="10000"/>
            <label asp-for="UpdateSpecificProductDetails.Quantity" class="control-label">Antal</label>
            <span asp-validation-for="UpdateSpecificProductDetails.Quantity" class="text-danger"></span>

        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50 mt-3">Uppdatera</button>
        </div>
    </form>
</div>

@* Open and close updating-form button*@
@section Scripts {
    <script>
        const editButton = document.getElementById("openFormBtn");
        const form = document.getElementById("editForm");

        editButton.addEventListener("click", function () {
            if (form.style.display === "none" || form.style.display === "") {
                form.style.display = "block";
                editButton.textContent = "Stäng formulär";
            } else {
                form.style.display = "none";
                editButton.textContent = "Ändra";
            }
        });
    </script>
}